### Deliverable 1: Preprocessing the Data for a Neural Network

In [1]:
# Import our dependencies

import pandas as pd
import matplotlib.pyplot as plt
#  Import and read the charity_data.csv.
import pandas as pd 
chocolate_df = pd.read_csv("flavors_of_cacao.csv", encoding='utf-8')
countries_df = pd.read_csv("country_and_usa_states_lat_long.csv", encoding='utf-8')
recent_chocolate_df = pd.read_csv("flavors_of_cacao_webscrape.csv", encoding="utf-8")
countries_df

    country_code   latitude   longitude               country
0             AD  42.546245    1.601554               Andorra
1             AE  23.424076   53.847818  United Arab Emirates
2             AF  33.939110   67.709953           Afghanistan
3             AG  17.060816  -61.796428   Antigua and Barbuda
4             AI  18.220554  -63.068615              Anguilla
..           ...        ...         ...                   ...
240           YT -12.827500   45.166244               Mayotte
241           ZA -30.559482   22.937506          South Africa
242           ZM -13.133897   27.849332                Zambia
243           ZW -19.015438   29.154857              Zimbabwe
244           HI  19.898682 -155.665857                Hawaii

[245 rows x 4 columns]

In [2]:
recent_chocolate_df.head(10)
recent_chocolate_df.dtypes

REF                                   int64
Company (Manufacturer)               object
Company Location                     object
Review Date                           int64
Country of Bean Origin               object
Specific Bean Origin or Bar Name     object
Cocoa Percent                        object
Ingredients                          object
Most Memorable Characteristics       object
Rating                              float64
dtype: object

In [3]:
# recent_chocolate_df["key"] = recent_chocolate_df["REF"].astype(str) + recent_chocolate_df["Specific Bean Origin or Bar Name"]
# recent_chocolate_df.head()

In [4]:
# copy Broad_Bean_Origin to country, then clean names and join with country lat_long dataframe
def country_names(df):
    colnames = [
            'Company',
            'Bean_Origin_or_Bar_Name',
            'REF',
            'Review_Date',
            'Cocoa_Percent',
            'Company_Location',
            'Rating',
            'Bean_Type',
            'Broad_Bean_Origin'
    ]
    df.columns = colnames
    df['country']= df["Broad_Bean_Origin"]
    df['country'] = df['country'].astype('|S80', errors='ignore')
    df['country'] = df['country'].str.replace('Domincan Republic', 'Dominican Republic')\
    .str.replace('Eucador', 'Ecuador')\
    .str.replace('Amsterdam','Netherlands')\
    .str.replace('Niacragua', 'Nicaragua')\
    .str.replace('Carribean','Caribbean')\
    .str.replace('Sao Tome$', 'Sao Tome & Principe')\
    .str.replace('^Principe$','Sao Tome & Principe')\
    .str.replace('Ivory Coast', "Cote d'Ivorie")\
    .str.replace('Congo', "Republic of Congo")\
    .str.replace('Cost Rica', "Costa Rica")\
    .str.replace('Trinidad$', "Trinidad Tobago")\
    .str.replace('Burma', 'Myanmar')\
    .str.replace('^Tobago', "Trinidad Tobago")\
    .str.replace('Trinidad-Tobago$', "Trinidad Tobago")\
    .str.replace('Trinidad, Tobago', "Trinidad Tobago")\
    .str.replace('St. Lucia', 'Saint Lucia')
    cln_country_df = countries_df[["country_code","country","latitude","longitude"]]
    cln_country_df.head()
    df = pd.merge(df,
                     cln_country_df,
                     on ='country',
                     how ='left')
    
    return df

In [5]:
chocolate_df = country_names(chocolate_df)
pd.set_option("display.max_rows", 90)
chocolate_df.head (100)

/Users/travisloseke/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:22: FutureWarning: The default value of regex will change from True to False in a future version.
/Users/travisloseke/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:23: FutureWarning: The default value of regex will change from True to False in a future version.
/Users/travisloseke/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:27: FutureWarning: The default value of regex will change from True to False in a future version.
/Users/travisloseke/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:29: FutureWarning: The default value of regex will change from True to False in a future version.
/Users/travisloseke/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:30: FutureWarning: The default value of regex will change from True to False in a future version.
/Users/travisloseke/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:32: FutureWarning: The default value of regex will change from True to False in a future version.

,Company,Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin,country,country_code,latitude,longitude
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome,Sao Tome & Principe,ST,0.186360,6.613081
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo,Togo,TG,8.619543,0.824782
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo,Togo,TG,8.619543,0.824782
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo,Togo,TG,8.619543,0.824782
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru,Peru,PE,-9.189967,-75.015152
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Ara,Madagascar,1375,2014,75%,France,3.00,Trinitario,Madagascar,Madagascar,MG,-18.766947,46.869107
96,Ara,Chiapas,1379,2014,72%,France,2.50,,Mexico,Mexico,MX,23.634501,-102.552784
97,Ara,Equateur,1379,2014,75%,France,2.75,,Ecuador,Ecuador,EC,-1.831239,-78.183406
98,Ara,Trincheras,1379,2014,75%,France,3.00,,Venezuela,Venezuela,VE,6.423750,-66.589730
99,Arete,San Juan,1724,2016,70%,U.S.A.,3.50,Trinitario,Trinidad,Trinidad Tobago,TT,10.691803,-61.222503

In [6]:
#List country values.  disply 100 rows

pd.set_option("display.max_rows", 100)
chocolate_df['country_code'].value_counts()

VE    214
EC    193
DO    166
PE    165
MG    145
NI     60
BR     58
BO     57
BZ     49
PG     42
CO     40
CR     38
TT     38
VN     38
TZ     34
GH     33
MX     30
HI     28
GT     28
JM     20
GD     19
ST     18
ID     16
HN     15
CU     11
CG     10
HT      9
FJ      8
LC      8
UG      8
PA      7
VU      7
CI      5
PH      5
PR      4
SB      4
IN      4
AU      3
MY      3
LR      3
TG      3
SV      2
LK      2
WS      2
SR      1
CM      1
GA      1
NG      1
MQ      1
Name: country_code, dtype: int64

In [7]:
# Broad Bean origin nulls
chocolate_df['country_code'].isnull().sum()

138

In [8]:
def ingredient(df):
    recent_chocolate_df["key"] = recent_chocolate_df["REF"].astype(str) + recent_chocolate_df["Specific Bean Origin or Bar Name"]
    df['key']= df ['REF'].astype(str) + df["Bean_Origin_or_Bar_Name"]
    cln_recent_df= recent_chocolate_df[["key", "Ingredients", "Most Memorable Characteristics"]]
    df = pd.merge(df,
                     cln_recent_df,
                     on ='key',
                     how ='left')
    df.drop(["key"],axis=1)
    
    return df

In [9]:
chocolate_df = ingredient(chocolate_df)
chocolate_df.head()

,Company,Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin,country,country_code,latitude,longitude,key,Ingredients,Most Memorable Characteristics
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome,Sao Tome & Principe,ST,0.186360,6.613081,1876Agua Grande,"4- B,S,C,L","sweet, chocolatey, vegetal"
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo,Togo,TG,8.619543,0.824782,1676Kpime,"4- B,S,C,L","burnt wood, earthy, choco"
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo,Togo,TG,8.619543,0.824782,1676Atsane,"4- B,S,C,L","roasty, acidic, nutty"
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo,Togo,TG,8.619543,0.824782,1680Akata,"4- B,S,C,L","mild profile, chocolaty, spice"
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru,Peru,PE,-9.189967,-75.015152,1704Quilla,"4- B,S,C,L","grainy texture, cocoa, sweet"

In [10]:
# Export out merge_df for testing in Tableau
chocolate_df.to_csv("merge_df.csv",index=False)